In [ ]:
!pip install names

In [ ]:
!pip install random_address

In [ ]:
import names
import random
import random_address
from datetime import date

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="PASSWORD",
  database="store"
)

In [ ]:
mycursor = mydb.cursor()

In [ ]:
import string

#password generator
def get_random_string(length):
    # With combination of lower and upper case
    result_str = ''.join(random.choice(string.ascii_letters) for i in range(length))
    return result_str

In [ ]:
#cell phone generator
def rand_x_digit_num(x, leading_zeroes=True):
    """Return an X digit number, leading_zeroes returns a string, otherwise int"""
    if not leading_zeroes:
        # wrap with str() for uniform results
        return random.randint(10**(x-1), 10**x-1)  
    else:
        if x > 6000:
            return ''.join([str(random.randint(0, 9)) for i in xrange(x)])
        else:
            return '{0:0{x}d}'.format(random.randint(0, 10**x-1), x=x)

In [ ]:
#email tags
emailTag = ["gmail.com", "company.org", "yahoo.com", "comcast.net", "anothercompany.com"]
#area codes from phone number
stateAreaCode = {"AK": [907],
            "AL": [205, 251, 256, 334],
            "AZ": [479, 501, 870],
            "AR": [480, 520, 602, 623, 928],
            "CA": [209, 213, 310, 323, 408, 415, 510, 530, 559, 562, 619, 626, 650, 661, 707, 714, 760, 805, 818, 831, 858, 909, 916, 925, 949, 951],
            "CO": [303, 719, 970],
            "CT": [203, 860],
            "DC": [202],
            "DE": [302],
            "FL": [239, 305, 321, 352, 386, 407, 561, 727, 772, 813, 850, 863, 904, 941, 954],
            "GA": [229, 404, 478, 706, 770, 912],
            "HI": [808],
            "IA": [319, 515, 563, 641, 712],
            "ID": [208],
            "IL": [217, 309, 312, 618, 630, 708, 773, 815, 847],
            "IN": [219, 260, 317, 574, 765, 812],
            "KS": [316, 620, 785, 913],
            "KY": [270, 502, 606, 859],
            "LA": [225, 318, 337, 504, 985],
            "MA": [413, 508, 617, 781, 978],
            "MD": [301, 410],
            "ME": [207],
            "MI": [231, 248, 269, 313, 517, 586, 616, 734, 810, 906, 989],
            "MN": [218, 320, 507, 612, 651, 763, 952],
            "MO": [314, 417, 573, 636, 660, 816],
            "MS": [228, 601, 662],
            "MT": [406],
            "NC": [252, 336, 704, 828, 910, 919],
            "ND": [701],
            "NE": [308, 402],
            "NH": [603],
            "NJ": [201, 609, 732, 856, 908, 973],
            "NM": [505, 575],
            "NV": [702, 775],
            "NY": [212, 315, 516, 518, 585, 607, 631, 716, 718, 845, 914],
            "OH": [216, 330, 419, 440, 513, 614, 740, 937],
            "OK": [405, 580, 918],
            "OR": [503, 541],
            "PA": [215, 412, 570, 610, 717, 724, 814],
            "RI": [401],
            "SC": [803, 843, 864],
            "SD": [605],
            "TN": [423, 615, 731, 865, 901, 931],
            "TX": [210, 214, 254, 281, 325, 361, 409, 432, 512, 713, 806, 817, 830, 903, 915, 936, 940, 956, 972, 979],
            "UT": [435, 801],
            "VA": [276, 434, 540, 703, 757, 804],
            "VT": [802],
            "WA": [206, 253, 360, 425, 509],
            "WI": [262, 414, 608, 715, 920],
            "WV": [304],
            "WY": [307]
}

In [ ]:
#sql insert statements 
user_sql = "INSERT INTO users (Fname, Lname, email, pass, phoneNum) VALUES (%s, %s, %s, %s, %s)"
address_sql = "INSERT INTO address (userID, street, city, state, zip) VALUES (%s, %s, %s, %s, %s)"
order_sql = "INSERT INTO orders (orderDate, total, userID) VALUES (%s, %s, %s)"

In [ ]:
#get all products
mycursor.execute("SELECT * FROM products") #get product prices
rows = mycursor.fetchall()

In [ ]:
#create a user, address, and order for that user
for x in range(1,21):
    userid = x
    first = names.get_first_name()
    last = names.get_last_name()
    email = first + "." + last + "@" + emailTag[random.randrange(0,len(emailTag))]
    password = get_random_string(8)
    address = random_address.real_random_address()
    phone_number = int(str(stateAreaCode[address["state"]][random.randint(0,len(stateAreaCode[address["state"]])-1)])+rand_x_digit_num(7))
   #print("entering user")
    user_val = (first, last, email, password, phone_number)
    mycursor.execute(user_sql, user_val)
    mydb.commit()
    
    #print("entering address")
    address_val = (userid, address['address1'], address['city'], address['state'], address['postalCode'])
    mycursor.execute(address_sql, address_val)
    mydb.commit()
    
   # print("entering order")
    i = random.randint(1,29)
    order_val = (date.today(), float(rows[i][2]), userid)
    mycursor.execute(order_sql, order_val)
    mydb.commit()

In [ ]:
#close connection
mydb.close()